

.imagesCarousel {
    width: 70%;
    margin: auto;
}

.carousel-item img {
    height: 600px;
}

.home {
    background:linear-gradient(red, gold);
}
.teams{
    background-color:lightblue;
}
.standings{
    background-color:palegreen;
}
.rules{
    background-color: bisque;
}

.scoring {
    margin: auto;
}

td {
    font-size: 30px;
}

th {
    font-size: 30px;
}