

.imagesCarousel {
    width: 70%;
    margin: auto;
}

.carousel-item img {
    height: 600px;
}

.home {
    background:linear-gradient(red, gold);
}
.teams{
    background-color:lightblue;
}
.standings{
    background-color:palegreen;
}
.rules{
    background-color: bisque;
}

.scoring {
    margin: auto;
}

td {
    font-size: 30px;
}

th {
    font-size: 30px;
}

.rulesTitle {
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media only screen and (max-width: 768px) {
    .imagesCarousel {
        width: 100%;
        
    }
    .carousel-item img {
        height: 300px;
    }

}

@media only screen and (max-width: 480px) {
    .imagesCarousel {
        width: 100%;
        
    }
    .carousel-item img {
        height: 250px;
    }

    td, th{
        font-size: 15px;
    }
}